<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" id="navbarDropdown">
        <a class="navbar-link has-text-primary" id="navbarButton">{{
          username
        }}</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="centered-content">
    <div class="task-container">
      <div class="sidebar has-background-white">
        <h1 class="title has-text-primary">Task</h1>
        <div class="task-info">
          <h3 class="info-title">Title</h3>
          <p *ngIf="taskcard">{{ taskcard.title }}</p>
        </div>
        <div class="task-info">
          <h3 class="info-title">Description</h3>
          <p *ngIf="taskcard">{{ taskcard.description }}</p>
        </div>
        <div class="task-info">
          <h3 class="info-title">Due Date</h3>
          <p *ngIf="taskcard">{{ taskcard.dueDate | date:'dd/MM/yyyy' }}</p>
        </div>
        <button class="button is-primary" (click)="backToBoard()">Back to board</button>
      </div>
      <div class="comments-container has-background-light">
        <div class="header">
          <h1 class="title has-text-primary">Comments</h1>
        </div>
        
        <div class="comment-element-container">
          <!-- comment elements --> 
          <div class="comment" *ngFor="let comment of comments">
            <div class="comment-header">
              <div class="comment-text">{{ comment.message }}</div>
            </div>
            <div class="comment-footer">
              <div class="comment-username">{{ comment.username }}</div>
              <div class="comment-date">{{ comment.date | date:'dd/MM/yyyy HH:mm:ss' }}</div>
            </div>
          </div>
          <h3 *ngIf="comments.length === 0">No comments yet!</h3>
        </div>
        
        
        <div class="field has-addons">
          <div class="control is-expanded">
            <input #commentInput class="input" type="text" placeholder="Enter a comment" id="commentInput"/>
          </div>
          <div class="control">
            <button class="button is-primary" (click)="comment(commentInput.value)">Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
