<dialog class="dialog-box" id="titleError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>
      Input a title!
    </p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" id="navbarDropdown">
        <a class="navbar-link has-text-primary" id="navbarButton">{{ username }}</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <div class="modal-box">
      <h1 class="title">Create a new project</h1>
  
      <input #projectTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter project name" />
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/project-list">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="createProject(projectTitleInput.value)">Create</button>
        
      </div>
    
    </div>
  </div>
  
</div>
