<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanbanize</h1>
            </div>
        </div>
    </div>
    <div class="board">

        <div class="board-bar">
            
            <div class="board-name">
                {{ board.title }}
            </div>
            <button class="button-back" routerLink="/project-list">← Back to Project List</button>
        </div>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>

                <div class="board-column" *ngFor="let column of board.columns">
                    <div class="column-header">
                        <div class="column-title">
                            {{ column.title }}
                        </div>
                        <div class="button-container">
                            <button class="add-task-button" (click)="addTaskClick(column)">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="tasks-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="column.taskcards"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let taskcard of column.taskcards" cdkDrag>
                            <div class="task-header">
                                <div class="task-title">
                                    {{ taskcard.title }}
                                </div>
                                <div class="field is-grouped">
                                    
                                </div>
                            </div>
                            <div class="task-footer">

                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>