@import "../../../main-styles.scss";

.app-name {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient($pink, $dark-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;
  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .board-name-container {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
      &:hover .edit {
        opacity: 1;
      }
      &:not(:hover) .edit {
        opacity: 0;
      }
      .board-name {
        font-size: 20px;
        font-weight: bold;
        color: white;
      }
      .board-name-input {
        display: none;
        padding: none;
        height: 30px;
      }
      .title-button {
        margin-left: 5px;
        background: none;
        border: none;
        border-radius: 4px;
        aspect-ratio: 1 / 1;
        height: 30px;
        padding: 1px 5px;
        
        &:hover {
          cursor: pointer;
          background-color: rgba(211, 211, 211, 0.5);
        }
      }
      .save {
        display: none;
      }
      .edit {
        transition: opacity 0.1s ease-in-out;
      }
    }
    
    .dropdown {
      max-height: 30px;
      margin-left: auto;
    }

    .settings-button {
      background: none;
      border: none;
      &:hover {
        background-color: rgba(211, 211, 211, 0.5);
      }
    }

    .button-back{
      color: white;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: $purple;
      border-radius: 20px;
    }

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;

        
        min-width: 300px;
        max-width: 500px;
        margin: 50px;
        padding: 25px;
        border-radius: 4px;

        background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0px;
        }

        .column-header {
          display: inline-flex;
          flex-direction: row;
          margin-bottom: 20px;

          .column-title {
            font-size: 20px;
            font-weight: 800;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
          }

          .button-container{
            display: flex;
            margin-left: auto;
            margin-right: 12px;
            .add-task-button {
              height: auto;
              width: auto;
              padding-inline: 5px;
              border-radius: 4px;
              font-size: 20px;
              font-weight: 800;
              font-family: "Lato", sans-serif;
              color: rgb(94, 94, 94);
              background: none;
              border: none;

              &:hover {
                background-color: rgba(rgb(184, 184, 184), 0.5);
                cursor: pointer;
              }
            }


          }
        }
        
      }
    }
  }
}

.tasks-container {
  flex-grow: 1;
  padding-right: 5px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 20px;
  }
}

.task {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  min-height: 70px;
  margin-bottom: 15px;
  &:hover .button-hover {
    width: auto;
    opacity: 1;
    
  }
  &:hover .field {
    margin-right: 10px;
    
  }
  &:not(:hover) .button-hover {
    width: 0;
    opacity: 0;
    
  }

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
  
    .task-header {
      display: flex;
      flex-direction: row;
      min-height: 25px;
      width: 100%;
      font-weight: bold;
    }
    .task-body {
      display: flex;
      flex-direction: row;
      width: 100%;

    }

    .task-footer {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      min-height: 30px;
      align-items: flex-end;
      font-size: 12px;
      .footer-left {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
      }
      .field {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: right;
        .task-button {
          aspect-ratio: 1/1;
          height: 30px;
          padding: 0px;
          padding-top: 2px;
          background: none;
          border: none;
          border-radius: 4px;
          
          transition: opacity 0.1s ease-in-out;
          &:hover {
            background-color: rgba(rgb(184, 184, 184), 0.5);
            cursor: pointer;
          }
          
        }
        .delete {
          display: none;
        }
      }
    }
}



.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

