<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanbanize</h1>
            </div>
        </div>
    </div>
    <div class="board">

        <div class="board-bar">
            <p class="board-name">
                {{ board.title }}
            </p>
        </div>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>

                <div class="board-column" *ngFor="let column of columns">
                    <div class="column-title">
                        {{ column.title }}
                    </div>

                    <div class="tasks-container"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="column.taskcards"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.taskcards" cdkDrag>
                            {{ item }}
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="bar">
                <button class="bar-add-button" (click)='onAddColumnClick()'>+</button>
            </div>
        </div>
    </div>
</div>
