<dialog class="dialog-box" id="inputLengthError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>
      Limit your input to 50 characters!
    </p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" id="navbarDropdown">
        <a class="navbar-link has-text-primary" id="navbarButton">{{ username }}</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="board" *ngIf="board">
    <div class="board-bar">
      <div class="board-name-container">
        <div class="board-name" id="title-container">
          {{ board.title }}
        </div>
        <input
          class="board-name-input input"
          type="text"
          placeholder="{{ board.title }}"
          id="title-input"
        />
        <button
          class="title-button edit"
          (click)="editTitleClick()"
          id="title-edit"
        >
          <img src="../../../assets/edit-icon.svg" />
        </button>
        <button
          class="title-button save"
          (click)="saveTitleClick()"
          id="title-save"
        >
          <img src="../../../assets/save-icon.svg" />
        </button>
      </div>

			<div class="dropdown" id="dropdown">
				<div class="dropdown-trigger">
					<button class="button is-small settings-button" id="board-options" aria-haspopup="true" aria-controls="dropdown-menu">
						<img id="board-options-icon" src="../../../assets/gear-icon.svg" />
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu" role="menu">
					<div class="dropdown-content">
            <a class="dropdown-item " (click)="addUser()"> Add User </a>
            <a class="dropdown-item " (click)="viewUsers()"> View Users </a>
						<a class="dropdown-item has-text-danger" (click)="deleteBoardConfirm()"> Delete Board </a>
					</div>
				</div>
			</div>

      <button class="button-back" routerLink="/project-list">
        ← Back to Project List
      </button>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-header">
            <div class="column-title">
              {{ column.title }}
            </div>
            <div class="button-container">
              <button class="add-task-button" (click)="addTaskClick(column)">
                +
              </button>
            </div>
          </div>
          <div
            class="tasks-container"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="column"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task" *ngFor="let taskcard of column.taskcards" cdkDrag>
              <div class="task-header">
                <div class="task-title">
                  {{ taskcard.title }}
                </div>
              </div>
              <div class="task-body">{{ taskcard.description }}</div>
              <div class="task-footer">
                <div class="footer-left">
                  <div class="assigned-to" *ngIf="taskcard.assignedTo">
                    Assigned to: {{ taskcard.assignedTo }}
                  </div>
                  <div class="due-date">
                    Due: {{ taskcard.dueDate | date:'dd/MM/yyyy' }}
                  </div>
                </div>
                <div class="field is-grouped">
                  <button
                    class="task-button priority"
                    *ngIf="taskcard.priority"
                    (click)="togglePriority(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/flag-icon-red.svg"
                    />
                  </button>
                  <button
                    class="task-button button-hover"
                    *ngIf="!taskcard.priority"
                    (click)="togglePriority(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/flag-icon-grey.svg"
                    />
                  </button>
                  <button
                    class="task-button button-hover"
                    (click)="editTaskClick(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/edit-icon.svg"
                    />
                  </button>
                  <button
                    class="task-button button-hover"
                    (click)="commentTaskClick(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/comment-icon.svg"
                    />
                  </button>
                  <button
                    class="task-button button-hover"
                    (click)="assignTask(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/assign-icon.svg"
                    />
                  </button>
                  <button
                    class="task-button button-hover"
                    (click)="deleteTaskcardConfirm(taskcard)"
                  >
                    <img
                      class="task-icons"
                      src="../../../assets/trash-icon-grey.svg"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
