<dialog class="dialog-box" id="passwordStrengthError">
    <div class="dialog-content">
      <h1><b>Error</b></h1>
      <p>Password not strong enough!</p>
      <p>Password should include numbers, uppercase and lowercase letters and should have at least 8 characters.</p>
      <button class="button is-small dialog-button" (click)="close()">Ok</button>
    </div>
  </dialog>
  <dialog class="dialog-box" id="passwordMismatchError">
    <div class="dialog-content">
      <h1><b>Error</b></h1>
      <p>Passwords do not match!</p>
      <button class="button is-small dialog-button" (click)="close()">Ok</button>
    </div>
  </dialog>
<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Kanbanize</h1>
        </div>
      </div>
    </div>
    <div class="centered-content">
      <div class="modal-box" id="main">
        <h1 class="title">Create a new password</h1>
    
        <input #password1Input class="input has-background-light is-medium" type="password" placeholder="Enter new password" />
        <br><br>
        <input #password2Input class="input has-background-light is-medium" type="password" placeholder="Confirm password" />
        <br><br>
        <div class="buttons is-right">
          <button class="button is-medium" routerLink="/project-list">Cancel</button>
          <button class="button is-primary has-text-white is-medium" id="confirmButton" (click)="resetPassword(password1Input.value, password2Input.value)">Confirm</button>
          
        </div>
      
      </div>
      <div class="modal-box is-hidden" id="sub">
        <h1 class="title">Password Reset!</h1>
        <p>Your password has been successfully reset.</p>
        <p>Please log in with your updated credentials.</p>
        <br>
        <div class="buttons is-right">
          <button class="button is-primary has-text-white is-medium" routerLink="/">Return to Login</button>
          
          
        </div>
      </div>
    </div>
    
  </div>