<dialog class="dialog-box" id="invalidEmailError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>
      Enter a valid email!
    </p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog><dialog class="dialog-box" id="emailNotInUseError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>
      No users with email found!
    </p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <div class="modal-box" id="main">
      <h1 class="title">Forgot Password</h1>
      <p>A link will be sent to your email to reset your password.</p>
      <br>
  
      <input #emailInput class="input has-background-light is-medium" type="text" placeholder="Enter your email" />
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-medium" id="sendButton" (click)="send(emailInput.value)">Send</button>
        
      </div>
  
    </div>
    <div class="modal-box is-hidden" id="sub">
      <h1 class="title">Email Sent!</h1>
      <p>A link to reset your password has been sent to your email.</p>
      <p>You may close this window.</p>
      <br>
      <div class="buttons is-right">
        <button class="button is-primary has-text-white is-medium" routerLink="/">Return to Login</button>
        
        
      </div>
    </div>
  </div>
  
</div>
