<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" id="navbarDropdown">
        <a class="navbar-link has-text-primary" id="navbarButton">{{ username }}</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <div class="modal-box" *ngIf="board">
      <h1 class="title">Delete Board</h1>
      <p>Confirm delete board '{{ board.title }}'?</p>
      
      <br /><br />
      <div class="buttons is-right">
        <button class="button is-medium" (click)="cancel()">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="deleteBoard()">Delete</button>
      </div>
    </div>
  </div>
</div>
