<div class="centered-content">
    <div class="project-manager-container">
        <div class="project-list-container has-background-white"> 
            <h1 class="title has-text-primary">
                Projects
            </h1>

            <!-- Project Elements -->
            <div class="project-menu">
                <div class="project-menu-item has-background-light" *ngFor="let project of boards">
                    <p>{{project.title}}</p>
                </div>

            </div>

            <button class="button is-primary has-text-white" >+ New Project</button>
        </div>
    </div>
</div>