<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanbanize</h1>
            </div>
        </div>
    </div>
	<div class="centered-content">
		<div class="login-container has-background-white">
			<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				
				<label class="signup-label has-text-primary" for="chk" aria-hidden="true">Sign Up</label>
				<input type="text" name="txt" placeholder="Username" required="">
				<input type="email" name="email" placeholder="Email Address" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<input type="password" name="cnfmpswd" placeholder="Confirm Password" required="">
				<button class="button has-text-white is-primary">Register Now</button>
				
			</div>

			<div class="login">
				<label class="login-label has-text-primary" for="chk" aria-hidden="true">Login</label>
				<input #usernameInput type="text" name="text" placeholder="Username" required="">
				<input #pwInput type="password" name="pswd" placeholder="Password" required="">
				<button class="button has-text-white is-primary" (click)="onLoginButtonClick(usernameInput.value, pwInput.value)">Login</button>
				<a href="#" class="forgot-password has-text-primary">Forgot Password? Click here</a>
			</div>
		</div>  	
		
	</div>
</div>