<dialog class="dialog-box" id="emptyFieldError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Fill up all fields!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="userTakenError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Username already taken!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="emailInvalidError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Enter a valid email address!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="emailTakenError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Email address already taken!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="passwordStrengthError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Password not strong enough!</p>
    <p>Password should include numbers, uppercase and lowercase letters and should have at least 8 characters.</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="passwordMismatchError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Passwords do not match!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="invalidLoginError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>There was a problem with your login.</p>
    <p>Please check your username and password and try again.</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <div class="login-container has-background-white">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="login">
        <label class="login-label has-text-primary" for="chk" aria-hidden="true"
          >Login</label
        >
        <input
          #usernameInput
          type="text"
          name="text"
          placeholder="Username"
          required=""
        />
        <input
          #pwInput
          type="password"
          name="pswd"
          placeholder="Password"
          required=""
        />
        <button
          class="button has-text-white is-primary login-button"
          (click)="onLoginButtonClick(usernameInput.value, pwInput.value)"
        >
          Login
        </button>
        <a href="#" class="forgot-password has-text-primary"
        routerLink="/forget-password"  
        >Forgot Password? Click here</a
        >
      </div>
      <div class="signup">
        <label
          class="signup-label has-text-primary"
          for="chk"
          aria-hidden="true"
          >Sign Up</label
        >
        <input
          #registerUsername
          type="text"
          name="txt"
          placeholder="Username"
          required=""
        />
        <input
          #registerEmail
          type="email"
          name="email"
          placeholder="Email Address"
          required=""
        />
        <input
          #registerPw1
          type="password"
          name="pswd"
          placeholder="Password"
          required=""
        />
        <input
          #registerPw2
          type="password"
          name="cnfmpswd"
          placeholder="Confirm Password"
          required=""
        />
        <button
          class="button has-text-white is-primary login-button"
          (click)="
            onRegisterButtonClick(
              registerUsername.value,
              registerEmail.value,
              registerPw1.value,
              registerPw2.value
            )
          "
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
