<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanbanize</h1>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown" id="navbarDropdown">
        <a class="navbar-link has-text-primary" id="navbarButton">{{
          username
        }}</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <div class="modal-box" id="main">
      <h1 class="title">Assign User to Task</h1>
      <div class="control">
        <div class="select is-medium">
          <select #select>
            <option>Select User</option>
            <option *ngFor="let user of users">{{ user.username }}</option>
            <option>Unassign</option>
          </select>
        </div>
      </div>

      <br />
      <div class="buttons is-right">
        <button class="button is-medium" (click)="cancel()">Cancel</button>
        <button
          id="assignButton"
          class="button is-primary has-text-white is-medium"
          (click)="assignButtonClick(select.value)"
        >
          Assign
        </button>
      </div>
    </div>
    <div class="modal-box is-hidden" id="assigned">
      <h1 class="title">Assign User to Task</h1>
      <p>User Assigned!</p>

      <br />
      <div class="buttons is-right">
        <button
          id="assignButton"
          class="button is-primary has-text-white is-medium"
          (click)="cancel()"
        >
          Back to Board
        </button>
      </div>
    </div>
    <div class="modal-box is-hidden" id="unassigned">
      <h1 class="title">Assign User to Task</h1>
      <p>User Unassigned!</p>

      <br />
      <div class="buttons is-right">
        <button
          id="assignButton"
          class="button is-primary has-text-white is-medium"
          (click)="cancel()"
        >
          Back to Board
        </button>
      </div>
    </div>
  </div>
</div>
